# Environment configuration
NODE_ENV=development
PORT=3000
API_VERSION="0.9.0"

# MongoDB
MONGO_CONN_STR=<TU_CONEXION_MONGO>

# JWT
JWT_SECRET=<TU_SECRETO_JWT>
JWT_EXPIRATION_IN_DAYS=<TIEMPO_DE_EXPIRACION_JWT>

# Cloudinary
CLOUDINARY_CLOUD_NAME=<TU_NOMBRE_DE_CLOUDINARY>
CLOUDINARY_API_KEY=<TU_API_KEY_DE_CLOUDINARY>
CLOUDINARY_API_SECRET=<TU_API_SECRET_DE_CLOUDINARY>

# Firebase
FIREBASE_API_KEY=<TU_API_KEY_DE_FIREBASE>
FIREBASE_AUTH_DOMAIN=<TU_DOMINIO_DE_AUTENTICACION_DE_FIREBASE>
FIREBASE_PROJECT_ID=<TU_ID_DE_PROYECTO_FIREBASE>
FIREBASE_STORAGE_BUCKET=<TU_BUCKET_DE_ALMACENAMIENTO_FIREBASE>
FIREBASE_MESSAGING_SENDER_ID=<TU_ID_DE_REMITENTE_MENSAJES_FIREBASE>
FIREBASE_APP_ID=<TU_APP_ID_FIREBASE>
